*{
    padding: 0px;
    margin: 0px;

}

header{
    background: blue;
    width: 100%;
    height: 100%;

}

.logo{
    width: 100px;
    height: 60px;
    color: white;
    margin-LEFT: 60px;
    padding-top: 30px;
    
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

.navBar{
    width: 70%;
    height: 100px;
    /* background: black; */
    float: right;
    margin-right: 20px;
    margin-top: -100px;
}

.navBar ul{
    list-style-type: none;
    margin-left: 400px;
}


.navBar li{
    float: left;
    padding: 40px;
    margin-top: 7px;

}

.navBar a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.navBar a:hover{
    border-bottom: 4px solid white;

}

.slider{
    width: 100%;
    height: 600px;
    background: black;

}

.l-slider{
    width: 50%;
    height: 100%;
    background: red
}

.r-slider{
    width: 50%;
    height: 100%;
    background: blue;
    float: right;
    margin-top: -600px;
}